<body>
  <nav>

  </nav>

  <main>
    <!-- コンテンツの表示 -->
    <div class="post">
      <div class="tenki-space">
        <div id="weather-temperature", class="weather-title">おんど</div>
        <button id="refresh-button">更新する</button>


      </div>
      <div class="post-items">
        <div class='main-post'>
          <%= image_tag "test2.png", class:"temp-image" %>
          <div class="post-content">
            <h2>タイトル</h2>
            <p>また、background-color プロパティに rgba(255, 192, 203, 0.5) を指定しています。ここで、RGBA値の最後の数値は透明度を示しており、0.0から1.0の範囲で指定します。0.0は完全に透明であり、1.0は完全に不透明です。修正後のコードでは、0.5を指定して半透明の背景色を設定しています。RGB値（255, 192, 203）は、透明度の指定に影響しませんが、好みに応じて調整してください。</p>
          </div>
        </div>
        <div class='main-post'>
          <%= image_tag "image.png", class:"temp-image" %>
          <div class="post-content">
            <h2>投稿タイトル</h2>
            <p>これにより、ヘッダーはページの上部に、メインコンテンツは中央に、フッターはページの下部に配置されるはずです。
もし問題がある場合や他の修正が必要な場合は、お知らせください。お手数ですが、再度確認いただければ幸いです。</p>
          </div>
        </div>
        <div class='main-post'>
          <%= image_tag "test_image2.png", class:"temp-image" %>
          <div class="post-content">
            <h2>投稿タイトル</h2>
            <p>コメント内容</p>
          </div>
        </div>
      </div>
    </div>
  </main>



</body>
