<body>
  <script>
  // ログイン中のユーザー情報を取得してJavaScript変数に代入する
  var currentUserPostalCode = '<%= current_user&.postal_code %>';
</script>

  <main>
    <!-- コンテンツの表示 -->
    <div class="post">
      <div class="weather-space">
        <div class="weather-main" data-text="きょうのてんき"></div>
        <div class="weather-today">
          <div id="weather-temperature", class="weather-title">おんど</div>
          <div id="weather-icon", class="weather-icon">あいこん</div>
        </div>
        <div class="weather-temps">
        <div class="temps">
          <div class="temp-name">さいこう</div>
          <div id="temp-max">なんど</div>
        </div>
        <div class="temps">
          <div class="temp-name">さいてい</div>
          <div id="temp-min">なんど</div>
        </div>
        </div>




        <button id="refresh-button", class="button">こうしん</button>
      </div>
      <div class="post-items">
        <div class='main-post'>
          <div class='post-item'>
            <%= image_tag "1.png", class:"temp-image" %>
          </div>
          <div class="post-content">
            <h2>暑い日にぴったり</h2>
            <p>水色の服は、夏に着るのにぴったりの色です。爽やかで涼しげな印象を与えてくれるので、夏コーデにぜひ取り入れてみてください。</p>
          </div>
       </div>
        <div class='main-post'>
        <div class='post-item'>
          <%= image_tag "2.png", class:"temp-image" %>
          </div>
          <div class="post-content">
            <h2>投稿タイトル</h2>
            <p>これにより、ヘッダーはページの上部に、メインコンテンツは中央に、フッターはページの下部に配置されるはずです。
もし問題がある場合や他の修正が必要な場合は、お知らせください。お手数ですが、再度確認いただければ幸いです。</p>
          </div>
        </div>
        <div class='main-post'>
        <div class='post-item'>
          <%= image_tag "3.png", class:"temp-image" %>
          </div>
          <div class="post-content">
            <h2>投稿タイトル</h2>
            <p>コメント内容</p>
          </div>
        </div>
      </div>
    </div>
  </main>



</body>
