<body>
  <nav>

  </nav>

  <main>
    <!-- コンテンツの表示 -->
    <div class="post">
      <div class="tenki-space">
      </div>
      <div class="post-items">
        <div class='main-post'>
          <%= image_tag "test2.png", class:"temp-image" %>
          <div class="post-content">
            <h2>投稿タイトル</h2>
            <p>コメント内容</p>
          </div>
        </div>
        <div class='main-post'>
          <%= image_tag "test2.png", class:"temp-image" %>
          <div class="post-content">
            <h2>投稿タイトル</h2>
            <p>コメント内容</p>
          </div>
        </div>
        <div class='main-post'>
          <%= image_tag "test2.png", class:"temp-image" %>
          <div class="post-content">
            <h2>投稿タイトル</h2>
            <p>コメント内容</p>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="script.js"></script>

    <footer>
     <p class="copyright">Copyright © POIPOI All rights reserved.</p>
  </footer>
</body>
