
/* ページ全体のスタイル */
/* styles.css */


/* ページ全体のスタイル */
body {
  background-color: #F9F9F9;

}

/* ヘッダーのスタイル */
header {
  height: 80px;
  background-color: #FFC0CB;
  padding: 0 15px;
  font-family: 'Cherry Bomb One', cursive;
}

/* ヘッダーコンテンツのスタイル */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* タイトルのスタイル */
.title {
  font-size: 36px;
  color: #FFF;
  line-height: 80px;
  text-decoration: none;
}


/* ログインリンクのスタイル */
.login{
  display: flex;

}

.login li {
  color: #FFF;
  text-decoration: none;
  margin-left: 20px;
  font-size: 20px;
}

.login-name {
  text-decoration: none;
  color: #FFF;
}

.post{
  width: 100vw;
  height: calc(100% - 200px);
  background-image: url('back_image2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 0 10px;
}

.tenki-space{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-title{
  font-size: 50px;
  font-family: 'Cherry Bomb One', cursive;
}

.post-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  
}

.main-post{
  width: calc((100% - 50px) / 3);
}

.temp-image {
  height: 400px;
}

.post-content {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-style: normal;
  color: royalblue;
  margin: 10px;
}

footer {
  background-color: #FFC0CB;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  color: #FFF;
}

 /* スマホ表示時 */
 @media (max-width: 599px) {
  .main-post {
    width: 100%;
    margin-bottom: 60px;
  }
  .post-content {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }

  .login {
    font-size: 10px;
    display: block;
  }
}