
/* ページ全体のスタイル */
/* styles.css */


/* ページ全体のスタイル */
body {
  background-color: #F9F9F9;

}

/* ヘッダーのスタイル */
header {
  height: 80px;
  background-color: #FFC0CB;
  padding: 0 15px;
  font-family: 'Cherry Bomb One', cursive;
}

/* ヘッダーコンテンツのスタイル */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* タイトルのスタイル */
.title {
  font-size: 36px;
  color: #FFF;
  line-height: 80px;
  text-decoration: none;
}


/* ログインリンクのスタイル */
.login{
  display: flex;

}

.login li {
  color: #FFF;
  text-decoration: none;
  margin-left: 20px;
  font-size: 20px;
}

.login-name {
  text-decoration: none;
  color: #FFF;
}

.post{
  width: 100vw;
  height: calc(100% - 200px);
  background-image: url('back_image2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 0 10px;
}

/* 天気表示部分 */

.weather-space{
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cherry Bomb One', cursive;
  padding-top: 10px;
}

.weather-main{
  color: #FFC0CB;
}

.weather-today{
  display: flex;
}

.weather-title{
  font-size: 60px;
  font-family: 'Cherry Bomb One', cursive;
  margin-right: 5px;
}

div.weather-main::after {
  content: attr(data-text);
  display: block;
  width: 100%;
  height: 1em;
  font-size: 4em;
  color: blue;
  animation: color 3s infinite linear;
  margin-bottom: 20px;
}

@keyframes color {
  0% { color: blue; }
  10% { color: red; }
  20% { color: green; }
  30% { color: yellow; }
  40% { color: orange; }
  50% { color: purple; }
  60% { color: pink; }
  70% { color: brown; }
  80% { color: gray; }
  90% { color: black; }
  100% { color: blue; }
}

.weather-temps{
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.temps{
  flex-direction: column;
  font-size: 25px;
}

.weather-icon{
  width: 100px;
  height: 70px;
}



/* 投稿画面部分 */
.post-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  
}

.main-post{
  width: calc((100% - 80px) / 3);
}

.post-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp-image {
  height: 400px;
  width: 400px;
  border: 8px solid #FFC0CB;
  border-radius: 10px;
}

.post-content {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-style: normal;
  color: royalblue;
  margin: 10px;
}

footer {
  background-color: #FFC0CB;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  color: #FFF;
}

 /* スマホ表示時 */
 @media (max-width: 599px) {
  .main-post {
    width: 100%;
    margin-bottom: 60px;
  }
  .post-content {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }

  .login {
    font-size: 10px;
    display: block;
  }
}